<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Batong.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>BearTalk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BearTalkDev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>ETalk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>GreenTalk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>GreenTalkCustomer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Hicare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>IVTalk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LempMobile-dev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LempMobile-nowon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LempMobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MQM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>SbTalk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46778A411DB889D900D9A14F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF2713361C4CCDF20039161B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF2B42451ABFB08000022C6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF3F48851BAFDB9900805949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF4414101BD9F55700F38D3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF7432D316D6180D002FCEBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF989B701CAB753000BC91E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFB671FB18FB7DDF00EB25E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFB9CD8F1976477800E3DB1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFDD44D51A415253001F9AEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFEB57A31C59E6460043B446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFEDF705178512D800FA65B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9D471CC1859427A00A504C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
